<h1>Props: <%= @props.size %> total</h1>
<% @props.each.with_index(1) do |prop, i| %>
<div class="prop-container">
  <div class="prop-title">
  <!--<h4><%= i %>.</h4> -->
  <input type="checkbox" name="prop_id" value="">
  <%= prop.start_time %> - <%= prop.event_title %>  <span style="color: red"><%= prop.matchup_status %></span></div>
  <div class="prop-away_team"><%= prop.away_team %>
    <span class="prop-home_team">vs. <%= prop.home_team %></span>
  </div>
  <hr><br>
</div>
<% end %>
